*{
    margin: 0;
    padding: 0;
}

li{
  
    list-style: none;
}
.iconos a{
    color: white;
    
}
.iconos i{
    font-size: 25px;
}
nav{
    
    display: flex;
    width: 100%;
    height: 15vh;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    align-items: center;
}
.toggle-btn{
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.iconos{

}

span i{
    
    color: white;
    font-size: 25px;
    padding-left: 20%;
    cursor: pointer;
}
#sidebar{
    position: absolute;
    width: 200px;
    height: 100%;
    background-color: #151719;
    text-align: center;
    left: -200px;
    transition: all .3s linear;
}
#sidebar ul{
    z-index: 1;
}
#sidebar.active{
left: 0;
}
#sidebar li{
    color: white;
    padding: 10px;
}
#sidebar li:hover{
    background-color: #303030;

}
#sidebar i{
    padding-left: 5%;
    color: red;
    cursor: pointer;
}
.container{
    width: 100%;
    height: 40vh;
}
section .container{
    position: absolute;
}
.container img{
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}